@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #fae8ff;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 1rem;
  background: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}

.person {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.person img {
  margin: 0.5rem;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.person p {
  color: #64748b;
}

.btn {
  width: 60%;
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  background: #d946ef;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}
